syntax "umbrellanight"
color brightblack "#05151C"
color black "#4F4B48"
color brightgreen "#6B615D"
color brightyellow "#996D59"
color brightblue "#B56D47"
color brightmagenta "#DC9D6D"
color brightcyan "#537893"
color white "#d2c9c6"
color brightwhite "#d2c9c6"
color dimblack "#938c8a"
color dimred "#4F4B48"
color dimgreen "#6B615D"
color dimyellow "#996D59"
color dimblue "#B56D47"
color dimmagenta "#DC9D6D"
color dimcyan "#537893"
color dimwhite "#d2c9c6"
