[SddmGreeterTheme]
Name=Decay
Description=Dark!
Author=Xealea
Copyright=Copyright (C) 2023 Xealea
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.2
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=decay
Theme-API=2.11
