/* Copyright (C) 2023 Lea <xealea@proton.me> */

* {
	background:			#101419;
	background-alt:			#1f2329;
	foreground:			#b6beca;
	selected:			#8cc1ff;
	urgent:				#1f2329;
	highlight:			#8cc1ff;
	on:				#87A181;
	off:				#D88B9F;
}
