/* Copyright (C) 2023 Lea <xealea@proton.me> */

* {
	background:			#1A2026;
	background-alt:			#242D35;
	foreground:			#D8D8D8;
	selected:			#FFFFFF;
	urgent:				#E06C75;
	on:					#87A181;
	off:				#D88B9F;
}
